<br>
<p>Airbnb</p>
<br>
<div class="contenedor">
    <iframe width="560" height="315"  [src]="video | domseguro:'https://www.youtube.com/embed/' "
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in picture" allowfullscreen></iframe>
</div>
<br>
<div class="contenedor">
    <table class="b">
        <tr>
            <th>1</th>
        </tr>
        <tr>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
        </tr>
        <tr>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
        </tr>
        <tr>
            <td>13</td>
            <td>14</td>
            <td>15</td>
            <td>16</td>
        </tr>
    </table>    
</div>
<br>
<div class="flex-container">
    <table id="table1" background="../../assets/imagenes/Fondo.jpg">
      <tr>

      <td id="td2">
        <b>
          Somos una empresa
          <br>
          de EXITO
        </b>
          <hr>
      </td>

      <td rowspan="3">
        <img src="../../assets/imagenes/StayMate.png" alt="La Huerta MX" width="300px" height="300px" margin="20px">
      </td>
      </tr>
      <tr>
        <td>
          <p id="t3">
            Somos una compañía que ofrece una plataforma digital dedicada a la 
            oferta de alojamientos a particulares y turísticos (alquiler vacacional) 
            mediante la cual los anfitriones pueden publicitar y contratar el arriendo 
            de sus propiedades con sus huéspedes; anfitriones y huéspedes pueden valorarse mutuamente, 
            como referencia para futuros usuarios
          </p>
          <br><br>
          <button class="btn btn1"> Mas sobre nosotros ></button>
        </td>
      </tr>
      </table>      
  </div>