.contenedor{
    display: flex;
    justify-content: center;
}
p{
    text-align: center;
    font-size: 250%;
}
/*
.a { border-collapse: separate; }
.b { border-collapse: collapse; } 
tr, td, th{ border: 1px solid grey;}*/

.flex-container{
    display: flex;
    padding: 10px;
    align-content: center;
    justify-content: center;
    background-color: white;
    margin-right: 10%;
    margin-left: 10%;
}
#table1{
    /*border: 1px solid black;*/
    /*text-decoration-style: solid;*/
    margin-left: 40px;
    padding: 50px;
}
#td2{
    text-align: center;
    font-size: 25px;
}
.btn {
    border-width: 2px;
    border-style: solid;
    border-color: #1EBA90;
    color: #09B05C;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;   
}
  
.btn1{background-color: transparent; margin: 20px; } 
.btn1:hover {background-color: #1EBA90;}
#t3{
    font-size: 22px;
}
b{
    font-size: 20px;
}

/* spacing */

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(13, 0, 128);
  }
  
  thead th:nth-child(1) {
    width: 30%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }
  
  thead th:nth-child(4) {
    width: 35%;
  }
  
  th, td {
    padding: 20px;
  }
  /* typography */

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
  }
  
  thead th, tfoot th {
    font-family: 'Rock Salt', cursive;
  }
  
  th {
    letter-spacing: 2px;
  }
  
  td {
    letter-spacing: 1px;
  }
  
  tbody td {
    text-align: center;
  }
  
  tfoot th {
    text-align: right;
  }
  thead, tfoot {
    /*background: url(leopardskin.jpg);*/
    color: white;
    text-shadow: 1px 1px 1px black;
  }
  
  thead th, tfoot th, tfoot td {
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
    border: 3px solid purple;
  }