<link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
<br>
<p>Airbnb</p>
<br>
<div class="contenedor">
    <iframe width="560" height="315"  [src]="video | domseguro:'https://www.youtube.com/embed/' "
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in picture" allowfullscreen></iframe>
</div>
<br>
<br>
<div class="flex-container">
    <table id="table1" background="../../assets/imagenes/Fondo.jpg">
      <tr>

      <td id="td2">
        <b>
          Somos una empresa
          <br>
          de EXITO
        </b>
          <hr>
      </td>

      <td rowspan="3">
        <img src="../../assets/imagenes/StayMate.png" alt="La Huerta MX" width="300px" height="300px" margin="20px">
      </td>
      </tr>
      <tr>
        <td>
          <p id="t3">
            Somos una compañía que ofrece una plataforma digital dedicada a la 
            oferta de alojamientos a particulares y turísticos (alquiler vacacional) 
            mediante la cual los anfitriones pueden publicitar y contratar el arriendo 
            de sus propiedades con sus huéspedes; anfitriones y huéspedes pueden valorarse mutuamente, 
            como referencia para futuros usuarios
          </p>
          <br><br>
          <button class="btn btn1"> Mas sobre nosotros ></button>
        </td>
      </tr>
      </table>      
  </div>
  <br>
  <table summary="Los mejores Lugares">
    <caption>Un resumen de los mejores lugares que le estamos brindando</caption>
    <thead>
      <tr>
        <th scope="col">Mejores Lugares</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Casa en el Sahara</th>
        <td>$200 .00 por noche</td>
      </tr>
      <tr>
        <th scope="row">Cabañas en Maldivas</th>
        <td>$200 .00 por noche</td>
      </tr> 
      <tr>
        <th scope="row">Casa ecologica en Groelandia</th>
        <td>$50 .00 por noche</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th scope="row" colspan="2"></th>
      </tr>
    </tfoot>
  </table>
