
              <!-- LINKS GOOGLE FONTS -->
              <link
              href="https://fonts.googleapis.com/css2?family=Chewy&family=Delicious+Handrawn&family=Londrina+Solid:wght@300&family=Loved+by+the+King&display=swap"
              rel="stylesheet">
          <link
              href="https://fonts.googleapis.com/css2?family=Handlee&display=swap"
              rel="stylesheet">
          <link
              href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap"
              rel="stylesheet">
    <br>
    <mat-card><p class="p222">StayMate</p></mat-card><!--1 Componente-->
    <br>

    <table class="default tablee" style="display: flex;">

      <tr>

        <td>
          <div>
            <img
              src="../assets/imagenes-home/imagen1.jpg"
              alt="">
          </div>
        </td>

        <td>
          <p class="p22">¡Los mejores alojamientos se encuentran</p>
          <p class="p22"> al alcance de tus manos !</p>
          <br>
          <p class="p22"> Sistema de reservacion StayMate siempre contigo</p>
        </td>

      </tr>


    </table>


    <br>

    <h3>¡ ENCUENTRA NUEVOS ALOJAMIENTOS CADA DIA !

    </h3>
    <br>


    <div class="card-columns">
      <div class="card">
        <img src="../assets/imagenesAlojamientos/alojamiento1.jpg"
          class="card-img-top" width="" height="300px" alt="...">
      </div>
      <div class="card">
        <img src="../assets/imagenesAlojamientos/alojamiento2.jpg"
          class="card-img-top" alt="...">
      </div>
      <div class="card">
        <img src="../assets/imagenesAlojamientos/alojamiento3.jpg"
          class="card-img-top" alt="...">
      </div>
      <div class="card">
        <img src="../assets/imagenesAlojamientos/alojamiento4.jpg"
          class="card-img-top" alt="...">
      </div>
      <div class="card">
        <img src="../assets/imagenesAlojamientos/alojamiento5.jpg"
          class="card-img-top" alt="...">
      </div>
      <div class="card">
        <img src="../assets/imagenesAlojamientos/alojamiento11.jpg"
          class="card-img-top" alt="...">
      </div>
      <div class="card">
        <img src="../assets/imagenesAlojamientos/alojamiento7.jpg"
          class="card-img-top" alt="...">
      </div>
      <div class="card">
        <img src="../assets/imagenesAlojamientos/alojamiento8.jpg"
          class="card-img-top" alt="...">
      </div>
      <div class="card">
        <img src="../assets/imagenesAlojamientos/alojamiento9.jpg"
          class="card-img-top" alt="...">
      </div>
      <div class="card">
        <img src="../assets/imagenesAlojamientos/alojamiento10.jpg"
          class="card-img-top" alt="...">
      </div>
    </div>



    <br>
    <div class="contenedor">
      <a mat-flat-button color="primary" routerLink="/alojamientos"
        target="_blank">Pag Sig.</a> <!--2 Componente-->
    </div>
    <br>