@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}
p{
    text-align: center;
    font-size: 250%;
}
mat-card{
    background-color: rgb(107, 230, 230);
}

.contenedor{
    display: flex;
    justify-content: center;
}
