
              <!-- LINKS GOOGLE FONTS -->
              <link
              href="https://fonts.googleapis.com/css2?family=Chewy&family=Delicious+Handrawn&family=Londrina+Solid:wght@300&family=Loved+by+the+King&display=swap"
              rel="stylesheet">
          <link
              href="https://fonts.googleapis.com/css2?family=Handlee&display=swap"
              rel="stylesheet">
          <link
              href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap"
              rel="stylesheet">
   
   

    <br>
    <mat-card><p class="p222">StayMate</p></mat-card><!--1 Componente-->
    <br>


<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/imagenes/plantilla.webp" class="d-block w-100" width="500" height="400" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/imagenes/depa.jpg" class="d-block w-100"  width="500" height="400" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/imagenes/plantilla2.webp" class="d-block w-100" width="500" height="400" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
    <table class="default tablee" style="display: flex;">

      <tr>

        <td>
          <div>
            <img
              src="../assets/imagenes-home/imagen1.jpg"
              alt="">
          </div>
        </td>

        <td>
          <p class="p22">¡Los mejores alojamientos se encuentran</p>
          <p class="p22"> al alcance de tus manos !</p>
          <br>
          <p class="p22"> Sistema de reservacion StayMate siempre contigo</p>
        </td>

      </tr>


    </table>


    <br>

    <h3>¡ ENCUENTRA NUEVOS ALOJAMIENTOS CADA DIA !

    </h3>
    <br>


    <div class="card-columns">
      <div class="card">
        <img src="../assets/imagenesAlojamientos/alojamiento1.jpg"
          class="card-img-top" width="" height="300px" alt="...">
      </div>
      <div class="card">
        <img src="../assets/imagenesAlojamientos/alojamiento2.jpg"
          class="card-img-top" alt="...">
      </div>
      <div class="card">
        <img src="../assets/imagenesAlojamientos/alojamiento3.jpg"
          class="card-img-top" alt="...">
      </div>
      <div class="card">
        <img src="../assets/imagenesAlojamientos/alojamiento4.jpg"
          class="card-img-top" alt="...">
      </div>
      <div class="card">
        <img src="../assets/imagenesAlojamientos/alojamiento5.jpg"
          class="card-img-top" alt="...">
      </div>
      <div class="card">
        <img src="../assets/imagenesAlojamientos/alojamiento11.jpg"
          class="card-img-top" alt="...">
      </div>
      <div class="card">
        <img src="../assets/imagenesAlojamientos/alojamiento7.jpg"
          class="card-img-top" alt="...">
      </div>
      <div class="card">
        <img src="../assets/imagenesAlojamientos/alojamiento8.jpg"
          class="card-img-top" alt="...">
      </div>
      <div class="card">
        <img src="../assets/imagenesAlojamientos/alojamiento9.jpg"
          class="card-img-top" alt="...">
      </div>
      <div class="card">
        <img src="../assets/imagenesAlojamientos/alojamiento10.jpg"
          class="card-img-top" alt="...">
      </div>
    </div>



    <br>
    <div class="contenedor">
      <a mat-flat-button color="primary" routerLink="/alojamientos"
        target="_blank">Pag Sig.</a> <!--2 Componente-->
    </div>
    <br>