 
            <div class="card p-3 mt-2"  id="msg">
              <div class="card-block">
                  <div  class="card-title" id="msg">
                      <p>Nombre: {{datos.title}}</p>
                  </div>
                  <div  class="text"  id="msg">
                      <p>Biografia: {{datos.description}}</p>
                  </div>
                  <div  class="text"  id="msg">
                      <p>Casa: {{datos.price}}</p>
                  </div>
                  <img [src]="datos.imageUrl" width="50px" height="50px" alt="" class="card-img img-fluid">
              </div>
          </div>

