<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">

        <!-- LINKS GOOGLE FONTS -->
        <link
            href="https://fonts.googleapis.com/css2?family=Chewy&family=Delicious+Handrawn&family=Londrina+Solid:wght@300&family=Loved+by+the+King&display=swap"
            rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css2?family=Handlee&display=swap"
            rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap"
            rel="stylesheet">
    </head>
    <body>

        <table class="default" style="display: flex;">

            <tr>
          
              <td>
                <div>
                    <img src="../assets/imagenes-pantallaProgramadores/personas-removebg-preview.png" alt="">
                </div>
              </td>
          
              <td>
                <p class="p22">
                    Universidad Autonoma De Aguascalientes
                    <br>
                    <br>
        
                    Tecnologias Web
                    <br>
                    <br>
                    Ingeneria en sistemas computacionales
                    <br>
                    <br>
                    Maestra: Gegorgina Salazar Partida
                    <br>
                    <br>
                    Mini proyecto 2
                    <br>
                   SISTEMA DE RESERVACIÓN
                    <br>
        
                </p>
              </td>
          
              <td><div><img src="../assets/imagenes-pantallaProgramadores/508970-removebg-preview.png" alt=""></div></td>
          
            </tr>
          
          
          </table>
        <div class="displayy">
            <div class="card cardss">
                <h2>Programador 1</h2>
                <p>Hermosillo Orenday Maria Fernanda.
                    <br>
                    ID: 244412
                </p>
            </div>
            <div class="card cardss">
                <h2>Programador 2</h2>
                <p>Jose Julian Carreon Plascencia.
                    <br>
                    ID: 244412
                </p>
            </div>
            <div class="card cardss">
                <h2>Programador 3</h2>
                <p>Luis Angel Alvizo Lopez.
                    <br>
                    ID: 244412
                </p>
            </div>
            <div class="card cardss">
                <h2>Programador 4</h2>
                <p>Gonzalo Ruvalcaba Solis.
                    <br>
                    ID: 244412
                </p>
            </div>
        </div>

        <p class="p2">** PROYECTO UNIVERSITARIO **</p>


    </body>
</html>
