.card {
    width: 100%;
    max-width: 400px;
    border: 3px solid #2b690e;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  .card img {
    max-width: 100%;
    height: auto;
  }

  body{
 
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
  }
  
  h2{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Chewy', cursive;
    text-align: center;
    color: #2b690e ;

  }

  p{
    font-family: 'Handlee', cursive;
    text-align: center;
    font-size: 25px;
    color: #1b4707 ;


  }

  .p22{
    font-family: 'Chewy', cursive;
    font-size: 26px;
    color: #6d9b23 ;

  }

  .p2{
    font-family: 'Chewy', cursive;
    font-size: 27px;
    color: #6d9b23 ;


  }

  .displayy{
    display: flex;
  }

  .cardss{
    background-color:  #90b455; 

  }

  img{
    width: 450px;
    height: 450px;
  }