h1{
    font-size: 30px;
    font-weight: bold;
    color: #6d9b23;
    margin-top: 10px;
    margin-left: 15px;
    font-family: 'Chewy', cursive;
    text-align: center;
  }
table, th, td, tr{
    border: solid 3px green;
    background-color: #dbe2d0;
}

th{
    font-family: 'Chewy', cursive;
    font-size: 29px;
    color: #283b08 ;
    text-align: center;
}

td{
    font-family: 'Handlee', cursive;
    font-size: 20px;
    text-align: center;
}
