<!-- GOOGLE FONTS  -->
<link
    href="https://fonts.googleapis.com/css2?family=Chewy&family=Delicious+Handrawn&family=Londrina+Solid:wght@300&family=Loved+by+the+King&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap" rel="stylesheet">

<div class="container" >
    <div class="listings">
        <div class="listing" *ngFor="let listing of listings">
            <img [src]="listing.imageUrl" alt="Listing Image">
            <h2>{{listing.title}}</h2>
            <p>{{listing.description}}</p>
            <div class="price">${{listing.price}} .00 por noche</div>
            <button (click)="reservar(listing!)">Reservar</button>
        </div>
    </div>
</div >

<!-- hola -->

