<div class="container">
    <h1>Aqui encontrarás los mejores alojamientos para tus vacaciones.</h1>
    <form>
        <input type="text" placeholder="Nombre Completo">
        <input type="text" placeholder="Direccion">
        <input type="date" placeholder="Fecha de llegada">
        <input type="date" placeholder="Fecha de salida">
        <input type="number" placeholder="Huéspedes">
    </form>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>
                    <form [formGroup]="paymentForm" (ngSubmit)="submitForm()">
                        <label>
                            Nombre en la tarjeta:
                            <input type="text" formControlName="cardName">
                        </label>
                        <label>
                            Número de tarjeta:
                            <input type="text" formControlName="cardNumber">
                        </label>
                        <label>
                            Fecha de vencimiento:
                            <input type="text" formControlName="expirationDate">
                        </label>
                        <label>
                            Código de seguridad:
                            <input type="text" formControlName="securityCode">
                        </label>
                        <button type="submit" [disabled]="paymentForm.invalid">Pagar</button>
                    </form>
                </th>
                <th>
                    <div class="card" style="width: 18rem;">
                        <img [src]="alojamientoObject.imageUrl" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{alojamientoObject.title}}</h5>
                            <p class="card-text">{{alojamientoObject.description}}</p>
                            <a href="#" class="btn btn-primary">${{alojamientoObject.price}}.00 por noche</a>
                        </div>
                    </div>
                </th>
            </tr>

        </table>
    </div>



</div>
